html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#side-bar{
	float:right;
	height:100%;
	display : flex;
}

#side-bar .img {
	max-width: 75%;
}

#info-bar{
	overflow-y:scroll;
	overflow-x:hidden;
}

#info-bar.expanded{
	height:30%;
	visibility:visible;
}
	
#info-bar.collapsed{
	height: 0%;
	visibility:hidden;
}

#search-bar.expanded{
	height:90%;
}
	
#search-bar.collapsed{
	height:60%;
}

#search-bar{
	flex : 0 1 auto;
	overflow-y:scroll;
	overflow-x:hidden;
	
}

#info-bar{
	flex : 1 0 aut0;
	overflow-y:scroll;
	overflow-x:hidden;
	height:60%;
}

#map {
	height:100%;
	float:left;
}

@media (max-width:600px){
	span {
		font-size: 16px;
	}

	#map{
		width: 50%;
	}
	
	#side-bar{
		width: 50%;
	}
	
	#search-bar{
		height:95%;
		overflow-y:scroll;
		overflow-x:hidden;
	}
}

@media (min-width:601px) and (max-width:799px){
	span {
		font-size: 18px;
	}

	#map{
		width: 65%;
	}
	
	#side-bar{
		width:35%;
	}
}

@media (min-width:800px){
	#map{
		width: 75%;
	}
	
	#side-bar{
		width:25%;
	}
}